<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deb.naturalsignapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:name=".screens.MyAppGlobal"
        android:allowBackup="true"
        android:icon="@drawable/illus"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NaturalSignApp">
        <activity
            android:name=".screens.EnfDriverComing"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screens.EngRideComing"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screens.RideComing"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screens.EngConfirmRide"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screens.ActivityEngSearchLoaction"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screens.SelectEngLocation"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screens.RideArrived"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.HelpActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.ConfirmPickup"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.SearchLoaction"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.SelectLocation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.SelectLanguageActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.InputEngDestination"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screens.InputDestination"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screens.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".screens.SelectEngLocation"
            android:foregroundServiceType="location">

        </service>
    </application>

</manifest>